.btn-left{
    margin-left: 30%;
}
.btn-left1{
    margin-left: 35%;
}
.texto{
    margin-top: -25%;
}
.texto2{
    margin-top: -20%;
}
.texto3{
    margin-top: -10%;
}
.area{
    margin-bottom: 20%;
}
.carousel-indicators > .active{
  background-color: black;
}