.area-carousel{
    background-color: rgb(163, 232, 255);
}
img{
    display: block;
    margin: 50px;
}
.navbar-brand img{
    width: 80px;
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-caption h2{
    color: black;
    font-style: oblique;
    vertical-align: text-bottom;
}
.container img { 
    max-width: 350px; 
}
.container2 img { 
    max-width: 400px; 
    max-height: 400px;
}
.featurette-heading{
    text-align: center;
}
.lead{
    text-align: center;
}
.vertical { 
    vertical-align: middle;
    display: table-cell; 
}
.teste{
    padding-top: 200px;
}
.teste2{
    padding-top: 80px;
}
.teste3{
    padding-top: 100px;
}
.botao1{
    padding-left: 245px;
}
.botao2{
    padding-left: 120px;
}

.botao3{
    padding-left: 230px;
}


.btn-button{
    margin-left: 130px;
}



