.container-fluid{
    background-color: rgb(163, 232, 255);
}
img{
    display: block;
    margin: 50px;
}
.navbar-brand img{
    width: 80px;
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-caption h2{
    color: black;
    font-style: oblique;
    vertical-align: text-bottom;
}